/* FONTS */
@font-face {
  font-family: "aniron";
  src: url("fonts/webfontkit-aniron/anirb___-webfont.woff");
  src: url("fonts/webfontkit-aniron/anirb___-webfont.woff2") format("woff"),
  /* url("CustomFont.otf") format("opentype"),
  url("CustomFont.svg#filename") format("svg"); */
  }


/* GENERAL */
body {
  font-family: Raleway;
  background-color: #FFF1E0;
}

h1 {
  font-family: 'aniron', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  color: #FFF587;
  text-shadow: 3px 3px 5px #FF8C64;
  text-align: center;
  }

h2 {font-weight:bold;
  color: #FF8C64;
}

h3 {
  color: #534653;
}

h4 {font-weight:bold;
  color: #FF8C64;
}
h5 {font-family: Georgia, 'Times New Roman', Times, serif;
  color: #814e81;
}
h6 {font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:bold;
  color: #ef4e2a;
}
h7 {font-weight:bold;
  color: #814e81;
}
a {
  color: #814e81;
}
a:visited {
  color: #636;
}
a:hover, a:active, a:focus {
  color:#FF8C64;
}


/* ACCORDION */
.accordion-item {
  background-color: #FFF1E0;
}

.accordion-body {
  background-color: #FFF1E0;
}

.card-body {
  background-color: #fffff0;
  padding: 20px;
}

.header-group {
  display: inline-block;
}

.accordion-button:not(.collapsed) {
  color: #ef4e2a;
  background-color: #FFE49A;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}


/* BUTTONS */
.my-button {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #F4876F;
}

.my-button.hover {
  background-color: #FFE49A;
  color: #ef4e2a;
}

.button-group {
  background-color: ivory;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-button {
  width: 92px;
}

.custom-button-colors {
  width: 80px;
}

.custom-button-surfaces {
  width: 150px;
}

.cap_co-black.hover {
  background-color: black;
}

.cap_co-black.active {
  background-color: black;
}

/* VISUALS */
.visual {
  background-color: white;
  border: solid;
  border-color: #53df9e;
  vertical-align: middle;
}

.axis-labels {
  font-size: 14px;
  text-anchor: middle;
  font-family: Raleway;
}

.axisTitle {
  font-size: 16px;
  text-anchor: middle;
  font-family: Raleway;
}

.btn {
   border-radius: 0px 0px 0px 0px;
   background-color: #FFF1E0;
}


/* FORM */
#predictForm {
  background-color: #ffffff;
  padding: 20px;
}

.form-inputs {
  min-height: 500px;
}

input {
  padding: 10px;
  width: 350px;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}

input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #198754;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.3;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #53df9e;
}

#prevBtn {
    color: #ffffff;
    background-color: #9c9c9c;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
    border-radius: 5px;
}

#nextBtn {
  background-color: #62C370;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 5px;
}

.container {
  position: relative;
  margin-top: 10px;
  background-color: #7d6c7d4d;
  padding: 20px;
}

#result-window {
  z-index: 1;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 700px;
}

.edible {
  background-color: #65A599;
}

.poisonous {
  background-color: #aa0202;
}

#redo-button {
  color: #ffffff;
  background-color: #3ddb92;
  border: solid;
  border-color: #146c43;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 5px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 5px;
}
