@font-face {
  font-family: "aniron";
  src: url("fonts/webfontkit-aniron/anirb___-webfont.woff");
  src: url("fonts/webfontkit-aniron/anirb___-webfont.woff2") format("woff"),
  /* url("CustomFont.otf") format("opentype"),
  url("CustomFont.svg#filename") format("svg"); */
  }

  h1 {
    font-family: 'aniron', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    color: #FFF587;
    text-shadow: 3px 3px 5px #FF8C64;
    text-align: center;
    }

  h2 {
    color: #FFE49A;
  }

  h3 {
    color: #FFE49A;
  }

  .container {
    margin-top: 30px;
    background-color: #7d6c7d4d;
    padding: 0px;
  }

  .card-body {
    background-color: #fffff0;
    padding: 20px;
  }

  .accordion-button.hover {
    font-family: 'aniron', Arial, sans-serif;
    background-color: #FFE49A;
    color: #ef4e2a;
  }

  .accordion-button.focus {
    font-family: 'aniron', Arial, sans-serif;
    background-color: #FFE49A;
    color: #ef4e2a;
  }

  .accordion-button.active {
    font-family: 'aniron', Arial, sans-serif;
    background-color: #FFE49A;
    color: #ef4e2a;
  }

  .accordion-button {
    font-family: 'aniron', Arial, sans-serif;
    background-color: #FFE49A;
    color: #F4876F;
    text-align: center;
  }

  .accordion-button.collapsed {
    font-family: 'aniron', Arial, sans-serif;
    background-color: #FFE49A;
    color: #F4876F;
  }

  .a:active {
    font-family: 'aniron', Arial, sans-serif;
    color: #ef4e2a;
  }

  .visual {
    background-color: #FFF1E0;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888;
    vertical-align: middle;
  }

  .button-group {
    margin-left: 20px;
  }

  .header-group {
    display: inline-block;
  }

  .btn-outline-success {
    color: #EA765A;
    border-color: #EA765A;
  }

  .btn.btn-outline-success.active {
    color: #EA765A;
    background-color: #EA765A;
    border-color: #EA765A;
  }