@font-face {
  font-family: "aniron";
  src: url("fonts/webfontkit-aniron/anirb___-webfont.woff");
  src: url("fonts/webfontkit-aniron/anirb___-webfont.woff2") format("woff"),
  /* url("CustomFont.otf") format("opentype"),
  url("CustomFont.svg#filename") format("svg"); */
  }

h1 {
  font-family: 'aniron', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  color: #FFF587;
  text-shadow: 3px 3px 5px #FF8C64;
  text-align: center;
  }

h2 {
  color: #ef4e2a;
}

h3 {
  color: #FFE49A;
}

.container {
  margin-top: 30px;
  background-color: #7d6c7d4d;
  padding: 0px;
}

.card-body {
  background-color: #fffff0;
  padding: 20px;
}

/* .accordion-button {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #F4876F;
}

.accordion-button.hover {
  color: #ef4e2a;
}

.accordion-button.hover {
  color: #ef4e2a;
} */

.my-button {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #F4876F;
}

.my-button.hover {
  background-color: #FFE49A;
  color: #ef4e2a;
}

/* .accordion-button.hover {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #ef4e2a;
}

.accordion-button.focus {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #ef4e2a;
}

.accordion-button.active {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #ef4e2a;
}

.accordion-button {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #F4876F;
  text-align: center;
}

.accordion-button.collapsed {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #F4876F;
} */

/* .accordion-toggle.hover {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #ef4e2a;
}

.accordion-toggle.focus {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #ef4e2a;
}

.accordion-toggle.active {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #ef4e2a;
}

.accordion-toggle {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #F4876F;
  text-align: center;
}

.accordion-toggle.collapsed {
  font-family: 'aniron', Arial, sans-serif;
  background-color: #FFE49A;
  color: #F4876F;
} */

.visual {
  background-color: #FFF1E0;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
  vertical-align: middle;
}

.button-group {
  margin-left: 20px;
}

.header-group {
  display: inline-block;
}

.axis-labels {
  font-size: 14px;
  text-anchor: middle;
}

.axisTitle {
  font-size: 16px;
  text-anchor: middle;
}

.col-form-label {
  text-align: center;
}

.btn-group {
   border-radius: 0px 0 0 0px;
  }