<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      background-image: url('../static/images/wallpaper2.png');
    }
  </style>
  <link rel='icon' href='../static/images/favicon.ico' type='image/x-icon'/ >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A Shortcut to Mushrooms</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- Custom CSS  -->
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container-fluid" style="background-color: #7D6B7D">
    <header>
      <center>
        <div class="header-group">
          <img src="../static/images/mushroom2.png" style="margin-right: 50px;vertical-align: middle;">
        </div>
        <div class="header-group" style="vertical-align: middle;">
          <center><h1>A Shortcut to Mushrooms</h1></center>
          <center><h3><i>All fungi are edible. Some fungi are only edible once.</br>-Terry Pratchett</i></h3></center>
        </div>
        <div class="header-group">
          <img src="../static/images/mushroom1.png" style="margin-left: 50px; vertical-align: middle;">
        </div>
      </center>
    </header>
  </div>

  <div class="container">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button my-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-pressed="true" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              INTRODUCTION
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="accordion-body">
              Here is where we will explain what this website is and does. A few ideas for what can go here:
                <ul>
                  <li>Relevant links</li>
                  <li>Lay out issues we came across</li>
                  <li>methods used to transform data</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button my-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-pressed="true" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            EXPLORE THE DATA
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div style="display: table-cell;">

            <div class="btn-group-vertical button-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" onclick="updateBar(dataClass)" class="btn-check" name="btnradio" id="class" autocomplete="off" checked>
              <label class="btn btn-outline-success" for="class">Class</label>
            
              <input type="radio" onclick="updateBar(dataCapColor)" class="btn-check" name="btnradio" id="cap_color" autocomplete="off">
              <label class="btn btn-outline-success" for="cap_color">Cap Color</label>

              <input type="radio" onclick="updateBar(dataCapShape)" class="btn-check" name="btnradio" id="cap_shape" autocomplete="off">
              <label class="btn btn-outline-success" for="cap_shape">Cap Shape</label>

              <input type="radio" onclick="updateBar(dataBruiseBleed)" class="btn-check" name="btnradio" id="bruise_bleed" autocomplete="off">
              <label class="btn btn-outline-success" for="bruise_bleed">Does It Bruise or Bleed?</label>

              <input type="radio" onclick="updateBar(dataGillAttachment)" class="btn-check" name="btnradio" id="gill_attachment" autocomplete="off">
              <label class="btn btn-outline-success" for="gill_attachment">Gill Attachment</label>

              <input type="radio" onclick="updateBar(dataGillColor)" class="btn-check" name="btnradio" id="gill_color" autocomplete="off">
              <label class="btn btn-outline-success" for="gill_color">Gill Color</label>

              <input type="radio" onclick="updateBar(dataGillSpacing)" class="btn-check" name="btnradio" id="gill_spacing" autocomplete="off">
              <label class="btn btn-outline-success" for="gill_spacing">Gill Spacing</label>

              <input type="radio" onclick="updateBar(dataHabitat)" class="btn-check" name="btnradio" id="habitat" autocomplete="off">
              <label class="btn btn-outline-success" for="habitat">Habitat</label>

              <input type="radio" onclick="updateBar(dataRing)" class="btn-check" name="btnradio" id="has_ring" autocomplete="off">
              <label class="btn btn-outline-success" for="has_ring">Does It Have a Ring</label>

              <input type="radio" onclick="updateBar(dataRingType)" class="btn-check" name="btnradio" id="ring_type" autocomplete="off">
              <label class="btn btn-outline-success" for="ring_type">Ring Type</label>

              <input type="radio" onclick="updateBar(dataSeason)" class="btn-check" name="btnradio" id="season" autocomplete="off">
              <label class="btn btn-outline-success" for="season">Season</label>

              <input type="radio" onclick="updateBar(dataStemColor)" class="btn-check" name="btnradio" id="stem_color" autocomplete="off">
              <label class="btn btn-outline-success" for="stem_color">Stem Color</label>
            </div>

            <div style="display: inline-block;" id="explore-bar"></div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button my-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-pressed="true" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            MAKE A PREDICTION
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">

            <form class="needs-validation" id="predictForm" action="{{url_for('predict')}}" method="post" novalidate>
              <div class="row"><center><h2>Let's have a look at your mushroom.</h2></center></div>
              <br>

              <div class="form-inputs">
                <!-- cap section -->
                <div class="tab">
                  <div class="row"><h3>Cap</h3></div>
                  <label for="colFormLabelLg" class="col-sm col-form-label-lg col-form-label"> Diameter (cm) </label>
                  <p><input type="text" id="cap_diameter" placeholder="Enter a decimal between 0 and 62" required="required"></p>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Color</legend>
                    <div class="btn-group button-group">
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-black" value="1,0,0,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-black">
                          black
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-blue" value="0,1,0,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-blue">
                          blue
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-brown" value="0,0,1,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-brown">
                          brown
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-buff" value="0,0,0,1,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-buff">
                          buff
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-gray" value="0,0,0,0,1,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-gray">
                          gray
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-green" value="0,0,0,0,0,1,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-green">
                          green
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-orange" value="0,0,0,0,0,0,1,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-orange">
                          orange
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-pink" value="0,0,0,0,0,0,0,1,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-pink">
                          pink
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-purple" value="0,0,0,0,0,0,0,0,1,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-purple">
                          purple
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-red" value="0,0,0,0,0,0,0,0,0,1,0,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-red">
                          red
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-white" value="0,0,0,0,0,0,0,0,0,0,1,0" required="required">
                        <label class="btn btn-outline-success" for="cap_color-white">
                          white
                        </label>
                        <input class="btn-check" type="radio" name="cap_colors" id="cap_color-yellow" value="0,0,0,0,0,0,0,0,0,0,0,1" required="required">
                        <label class="btn btn-outline-success" for="cap_color-yellow">
                          yellow
                        </label>
                      </div>
                  </fieldset>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Shape</legend>
                    <div class="btn-group button-group">
                      <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-bell" value="1,0,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_shape-bell">
                        bell
                      </label>
                      <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-conical" value="0,1,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_shape-conical">
                        conical
                      </label>
                      <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-convex" value="0,0,1,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_shape-convex">
                        convex
                      </label>
                      <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-flat" value="0,0,0,1,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_shape-flat">
                        flat
                      </label>
                      <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-others" value="0,0,0,0,1,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_shape-others">
                        others
                      </label>
                      <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-spherical" value="0,0,0,0,0,1,0" required="required">
                      <label class="btn btn-outline-success" for="cap_shape-spherical">
                        spherical
                      </label>
                      <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-sunken" value="0,0,0,0,0,0,1" required="required">
                      <label class="btn btn-outline-success" for="cap_shape-sunken">
                        sunken
                      </label>
                    </div>
                  </fieldset>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Surface</legend>
                    <div class="btn-group button-group">
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-dry" value="1,0,0,0,0,0,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-dry">
                        dry
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-fibrous" value="0,1,0,0,0,0,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-fibrous">
                        fibrous
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-fleshy" value="0,0,1,0,0,0,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-fleshy">
                        fleshy
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-grooves" value="0,0,0,1,0,0,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-grooves">
                        grooves
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-leathery" value="0,0,0,0,1,0,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-leathery">
                        leathery
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-scaly" value="0,0,0,0,0,1,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-scaly">
                        scaly
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-shiny" value="0,0,0,0,0,0,1,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-shiny">
                        shiny
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-silky" value="0,0,0,0,0,0,0,1,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-silky">
                        silky
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-smooth" value="0,0,0,0,0,0,0,0,1,0,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-smooth">
                        smooth
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-sticky" value="0,0,0,0,0,0,0,0,0,1,0" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-sticky">
                        sticky
                      </label>
                      <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-wrinkled" value="0,0,0,0,0,0,0,0,0,0,1" required="required">
                      <label class="btn btn-outline-success" for="cap_surface-wrinkled">
                        wrinkled
                      </label>
                    </div>
                  </fieldset>
                </div>
                
                <!-- gill section -->
                <div class="tab"><center><h3>Gill</h3></center>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Gill Attachment</legend>
                    <div class="btn-group form-button">
                      <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-adnate" value="1,0,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="gill_attachment-adnate">
                        adnate
                      </label>
                      <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-adnexed" value="0,1,0,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="gill_attachment-adnexed">
                        adnexed
                      </label>
                      <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-decurrent" value="0,0,1,0,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="gill_attachment-decurrent">
                        decurrent
                      </label>
                      <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-free" value="0,0,0,1,0,0,0" required="required">
                      <label class="btn btn-outline-success" for="gill_attachment-free">
                        free
                      </label>
                      <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-none" value="0,0,0,0,1,0,0" required="required">
                      <label class="btn btn-outline-success" for="gill_attachment-none">
                        none
                      </label>
                      <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-pores" value="0,0,0,0,0,1,0" required="required">
                      <label class="btn btn-outline-success" for="gill_attachment-pores">
                        pores
                      </label>
                      <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-sinuate" value="0,0,0,0,0,0,1" required="required">
                      <label class="btn btn-outline-success" for="gill_attachment-sinuate">
                        sinuate
                      </label>
                    </div>
                  </fieldset>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Gill Color</legend>
                    <div class="btn-group form-button">
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-black" value="1,0,0,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-black">
                          black
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-brown" value="0,1,0,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-brown">
                          brown
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-buff" value="0,0,1,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-buff">
                          buff
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-gray" value="0,0,0,1,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-gray">
                          gray
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-green" value="0,0,0,0,1,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-green">
                          green
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-none" value="0,0,0,0,0,1,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-none">
                          none
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-orange" value="0,0,0,0,0,0,1,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-orange">
                          orange
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-pink" value="0,0,0,0,0,0,0,1,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-pink">
                          pink
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-purple" value="0,0,0,0,0,0,0,0,1,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-purple">
                          purple
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-red" value="0,0,0,0,0,0,0,0,0,1,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-red">
                          red
                        </label>
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-white" value="0,0,0,0,0,0,0,0,0,0,1,0" required="required">
                        <label class="btn btn-outline-success" for="gill_color-white">
                          white
                        </label>
    
                        <input class="btn-check" type="radio" name="gill_colors" id="gill_color-yellow" value="0,0,0,0,0,0,0,0,0,0,0,1" required="required">
                        <label class="btn btn-outline-success" for="gill_color-yellow">
                          yellow
                        </label>
                    </div>
                  </fieldset>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Gill Spacing</legend>
                      <div class="btn-group form-button">
                        <input class="btn-check" type="radio" name="gill_spacings" id="gill_spacing-close" value="1,0,0" required="required">
                        <label class="btn btn-outline-success" for="gill_spacing-close">
                          close
                        </label>
                        <input class="btn-check" type="radio" name="gill_spacings" id="gill_spacing-distant" value="0,1,0" required="required">
                        <label class="btn btn-outline-success" for="gill_spacing-distant">
                          distant
                        </label>
                        <input class="btn-check" type="radio" name="gill_spacings" id="gill_spacing-none" value="0,0,1" required="required">
                        <label class="btn btn-outline-success" for="gill_spacing-none">
                          none
                        </label>
                      </div>
                  </fieldset>
                </div>

                <!-- stem section -->
                <div class="tab"><center><h3>Stem</h3></center>
                  <label for="colFormLabelLg" class="col-sm col-form-label-lg col-form-label">  Stem Height (cm) </label>
                  <p><input type="text" id="stem_height" placeholder="Enter a decimal between 0 and 36" required="required"></p>
                  <label for="colFormLabelLg" class="col-sm col-form-label-lg col-form-label"> Stem Width (mm) </label>
                  <p><input type="text" id="stem_width" placeholder="Enter a decimal between 0 and 100" required="required"></p>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Stem Color</legend>
                      <div class="btn-group form-button">
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-black" value="1,0,0,0,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-black">
                          black
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-blue" value="0,1,0,0,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-blue">
                          blue
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-brown" value="0,0,1,0,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-brown">
                          brown
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-buff" value="0,0,0,1,0,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-buff">
                          buff
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-gray" value="0,0,0,0,1,0,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-gray">
                          gray
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-green" value="0,0,0,0,0,1,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-green">
                          green
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-none" value="0,0,0,0,0,0,1,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-none">
                          none
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-orange" value="0,0,0,0,0,0,0,1,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-orange">
                          orange
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-pink" value="0,0,0,0,0,0,0,0,1,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-pink">
                          pink
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-purple" value="0,0,0,0,0,0,0,0,0,1,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-purple">
                          purple
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-red" value="0,0,0,0,0,0,0,0,0,0,1,0,0" required="required">
                        <label class="btn btn-outline-success" for="stem_color-red">
                          red
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-white" value="0,0,0,0,0,0,0,0,0,0,0,1,0]" required="required">
                        <label class="btn btn-outline-success" for="stem_color-white">
                          white
                        </label>
                        <input class="btn-check" type="radio" name="stem_colors" id="stem_color-yellow" value="0,0,0,0,0,0,0,0,0,0,0,0,1" required="required">
                        <label class="btn btn-outline-success" for="stem_color-yellow">
                          yellow
                        </label>
                      </div>
                  </fieldset>
                </div>

                <!-- ring section -->
                <div class="tab"><center><h3>Ring</h3></center>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Does It Have a Ring?</legend>
                      <div class="btn-group form-button">
                        <input class="btn-check" type="radio" name="has_ring" id="has_ring-yes" value="0,1" required="required">
                        <label class="btn btn-outline-success" for="has_ring-yes">
                          yes
                        </label>
                        <input class="btn-check" type="radio" name="has_ring" id="has_ring-no" value="1,0" required="required">
                        <label class="btn btn-outline-success" for="has_ring-no">
                          no
                        </label>
                      </div>
                  </fieldset>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Ring Type</legend>
                      <div class="btn-group form-button">
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-evanescent" value="1,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="ring_type-evanescent">
                          evanescent
                        </label>
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-flaring" value="0,1,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="ring_type-flaring">
                          flaring
                        </label>
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-grooved" value="0,0,1,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="ring_type-grooved">
                          grooved
                        </label>
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-large" value="0,0,0,1,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="ring_type-large">
                          large
                        </label>
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-movable" value="0,0,0,0,1,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="ring_type-movable">
                          movable
                        </label>
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-none" value="0,0,0,0,0,1,0,0" required="required">
                        <label class="btn btn-outline-success" for="ring_type-none">
                          none
                        </label>
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-pendant" value="0,0,0,0,0,0,1,0" required="required">
                        <label class="btn btn-outline-success" for="ring_type-pendant">
                          pendant
                        </label>
                        <input class="btn-check" type="radio" name="ring_types" id="ring_type-zone" value="0,0,0,0,0,0,0,1" required="required">
                        <label class="btn btn-outline-success" for="ring_type-zone">
                          zone
                        </label>
                      </div>
                  </fieldset>
                </div>

                <!-- other section -->
                <div class="tab"><center><h3>Other</h3></center>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Does It Bruise or Bleed?</legend>
                    <div class="btn-group form-button">
                      <input class="btn-check" type="radio" name="bruise_bleed" id="bruise_bleed-yes" value="0,1" required="required">
                      <label class="btn btn-outline-success" for="bruise_bleed-yes">
                        yes
                      </label>
                      <input class="btn-check" type="radio" name="bruise_bleed" id="bruise_bleed-no" value="1,0" required="required">
                      <label class="btn btn-outline-success" for="bruise_bleed-no">
                        no
                      </label>
                    </div>
                  </fieldset>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Habitat</legend>
                      <div class="btn-group form-button">
                        <input class="btn-check" type="radio" name="habitats" id="habitat-grasses" value="1,0,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="habitat-grasses">
                          grasses
                        </label>
                        <input class="btn-check" type="radio" name="habitats" id="habitat-heaths" value="0,1,0,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="habitat-heaths">
                          heaths
                        </label>
                        <input class="btn-check" type="radio" name="habitats" id="habitat-leaves" value="0,0,1,0,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="habitat-leaves">
                          leaves
                        </label>
                        <input class="btn-check" type="radio" name="habitats" id="habitat-meadows" value="0,0,0,1,0,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="habitat-meadows">
                          meadows
                        </label>
                        <input class="btn-check" type="radio" name="habitats" id="habitat-paths" value="0,0,0,0,1,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="habitat-paths">
                          paths
                        </label>
                        <input class="btn-check" type="radio" name="habitats" id="habitat-urban" value="0,0,0,0,0,1,0,0" required="required">
                        <label class="btn btn-outline-success" for="habitat-urban">
                          urban
                        </label>
                        <input class="btn-check" type="radio" name="habitats" id="habitat-waste" value="0,0,0,0,0,0,1,0" required="required">
                        <label class="btn btn-outline-success" for="habitat-waste">
                          waste
                        </label>
                        <input class="btn-check" type="radio" name="habitats" id="habitat-woods" value="0,0,0,0,0,0,0,1" required="required">
                        <label class="btn btn-outline-success" for="habitat-woods">
                          woods
                        </label>
                    </div>
                  </fieldset>
                  <fieldset class="col-sm">
                    <legend class="col-sm col-form-label col-form-label-lg">Season</legend>
                      <div class="btn-group form-button">
                        <input class="btn-check" type="radio" name="seasons" id="season-autumn" value="1,0,0,0" required="required">
                        <label class="btn btn-outline-success" for="season-autumn">
                          autumn
                        </label>
                        <input class="btn-check" type="radio" name="seasons" id="season-spring" value="0,1,0,0" required="required">
                        <label class="btn btn-outline-success" for="season-spring">
                          spring
                        </label>
                        <input class="btn-check" type="radio" name="seasons" id="season-summer" value="0,0,1,0" required="required">
                        <label class="btn btn-outline-success" for="season-summer">
                          summer
                        </label>
                        <input class="btn-check" type="radio" name="seasons" id="season-winter" value="0,0,0,1" required="required">
                        <label class="btn btn-outline-success" for="season-winter">
                          winter
                        </label>
                      </div>
                  </fieldset>
                </div>
              </div>

              <div style="overflow:auto;">
                <div style="float:right;">
                  <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                  <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
              </div>

              <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div>
            </form>

            <br>
            <br>
            {{ prediction_text }}
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Add d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Add plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JS -->
    <!-- d3 Bar Graph -->
    <script type="text/javascript" src="../static/JS/d3_bar.js"></script>

    <!-- prediction form -->
    <script type="text/javascript" src="../static/JS/form.js"></script>
</body>

<!-- credit -->
<footer style="margin-top: 75px;">
  <center>
  <a href='https://www.freepik.com/vectors/background'>Background and favicon vector created by pikisuperstar - www.freepik.com</a>
  </center>
</footer>
</html>