<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      background-image: url('../static/images/wallpaper2.png');
    }
  </style>
  <link rel='icon' href='../static/images/favicon.ico' type='image/x-icon' >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A Shortcut to Mushrooms</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <!-- Custom CSS  -->
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container-fluid" style="background-color: #7D6B7D">
    <header>
      <center>
        <div class="header-group">
          <img src="../static/images/mushroom2.png" style="margin-right: 50px;vertical-align: middle;">
        </div>
        <div class="header-group" style="vertical-align: middle;">
          <center><h1>A Shortcut to Mushrooms</h1></center>
          <center><h2><i>All fungi are edible. Some fungi are only edible once.</br>-Terry Pratchett</i></h2></center>
        </div>
        <div class="header-group">
          <img src="../static/images/mushroom1.png" style="margin-left: 50px; vertical-align: middle;">
        </div>
      </center>
    </header>
  </div>

  <div class="container">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button my-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-pressed="true" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              INTRODUCTION
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
            <div class="accordion-body">
              <p><h5> Welcome to A Shortcut to Mushrooms!  This mushroom classifier was written in python using machine learning to predict whether a mushroom is edible or poisonous based on 15 attributes of the specimen.  In order to achieve this binary task, we used data from the Mushroom Project by Dennis Wagner, Dominik Heider, and Georges Hattab at Philipps Universitat in Marburg, Germany.   We trained various machine learning models on classification based on a simulated dataset derived from common European mushrooms.  We found Random Forest provided the best results, followed by a Neural Network and K-Nearest Neighbors.  After training the model, we created a new simulated dataset based on North American species.  We then combined these datasets in order to train the model on both North American and European mushroom species and were able to get highly reliable predictions. 
                <br>
                <br>
                If you are a foraging enthusiast feel free to explore our datasets with our interactive visualizations or make a prediction for a specific specimen based on various attributes of the mushroom’s cap, stem, gills and ring.</p></h5>
                <h4>WARNING: THIS IS SOLELY FOR EDUCATIONAL PURPOSES AND IS NOT TO BE USED TO ACTUALLY DETERMINE THE EDIBILITY OF A MUSHROOM!<br></h4>
                <h5>(Please don't sue us; we're just students)
                  <br>
                  <br>
                  When in doubt, throw it out!
                  <br>~The Mushroom Hunter’s Mantra
                  <br></p></h5>
                <h4>Relevant Links:</h4>
                <ul><h5>
                  <li><a href="https://mushroom.mathematik.uni-marburg.de/"style="text-decoration: none">European Dataset</a></li>
                  <li><a href="https://github.com/lauragabrielson/Mushroom_Classifier/tree/main/NA%20data%20generation"style="text-decoration: none">North American Dataset</a></li>
                  <li><a href="https://github.com/lauragabrielson/Mushroom_Classifier"style="text-decoration: none">Check Out Our Code</a>
                    </li></h5>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button class="accordion-button my-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-pressed="true" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            EXPLORE THE DATA
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
          <div style="display: table-cell;">

            <div class="btn-group-vertical button-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" onclick="updateBar(dataClass)" class="btn-check" name="btnradio" id="class" autocomplete="off" checked>
              <label class="btn btn-outline-success" for="class">Class</label>
            
              <input type="radio" onclick="updateBar(dataCapColor)" class="btn-check" name="btnradio" id="cap_color" autocomplete="off">
              <label class="btn btn-outline-success" for="cap_color">Cap Color</label>

              <input type="radio" onclick="updateBar(dataCapShape)" class="btn-check" name="btnradio" id="cap_shape" autocomplete="off">
              <label class="btn btn-outline-success" for="cap_shape">Cap Shape</label>

              <input type="radio" onclick="updateBar(dataCapSurface)" class="btn-check" name="btnradio" id="cap_surface" autocomplete="off">
              <label class="btn btn-outline-success" for="cap_surface">Cap Surface</label>

              <input type="radio" onclick="updateBar(dataBruiseBleed)" class="btn-check" name="btnradio" id="bruise_bleed" autocomplete="off">
              <label class="btn btn-outline-success" for="bruise_bleed">Does It Bruise or Bleed?</label>

              <input type="radio" onclick="updateBar(dataGillAttachment)" class="btn-check" name="btnradio" id="gill_attachment" autocomplete="off">
              <label class="btn btn-outline-success" for="gill_attachment">Gill Attachment</label>

              <input type="radio" onclick="updateBar(dataGillColor)" class="btn-check" name="btnradio" id="gill_color" autocomplete="off">
              <label class="btn btn-outline-success" for="gill_color">Gill Color</label>

              <input type="radio" onclick="updateBar(dataGillSpacing)" class="btn-check" name="btnradio" id="gill_spacing" autocomplete="off">
              <label class="btn btn-outline-success" for="gill_spacing">Gill Spacing</label>

              <input type="radio" onclick="updateBar(dataHabitat)" class="btn-check" name="btnradio" id="habitat" autocomplete="off">
              <label class="btn btn-outline-success" for="habitat">Habitat</label>

              <input type="radio" onclick="updateBar(dataRing)" class="btn-check" name="btnradio" id="has_ring" autocomplete="off">
              <label class="btn btn-outline-success" for="has_ring">Does It Have a Ring</label>

              <input type="radio" onclick="updateBar(dataRingType)" class="btn-check" name="btnradio" id="ring_type" autocomplete="off">
              <label class="btn btn-outline-success" for="ring_type">Ring Type</label>

              <input type="radio" onclick="updateBar(dataSeason)" class="btn-check" name="btnradio" id="season" autocomplete="off">
              <label class="btn btn-outline-success" for="season">Season</label>

              <input type="radio" onclick="updateBar(dataStemColor)" class="btn-check" name="btnradio" id="stem_color" autocomplete="off">
              <label class="btn btn-outline-success" for="stem_color">Stem Color</label>
            </div>

            <div style="display: inline-block;" id="explore-bar"></div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button class="accordion-button my-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-pressed="true" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            MAKE A PREDICTION<br><hr>
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">

            <div class="container">
              <form class="needs-validation col-lg-12" id="predictForm" method="post" novalidate>
                <div class="row"><center><h2 id="form-intro">Let's have a look at your mushroom.</h2></center></div>
                <br>

                <div class="form-inputs col-lg-11">
                  <!-- cap section -->

                  <div class="tab">
                    <div class="row"><center><h3>Cap</h3></center></div>
                    
                    <label for="colFormLabelLg" class="col-sm col-form-label-lg col-form-label"> Diameter (cm) </label>
                    <p><input type="text" class="col-lg-5" name="cap_diameter" id="cap_diameter" placeholder="Enter a decimal between 0 and 62" required="required"></p>
                    
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Color</legend>
                      <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-black" value="1,0,0,0,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-black">
                            <img src="../static/images/black.svg">
                            black
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-blue" value="0,1,0,0,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-blue">
                            <img src="../static/images/blue.svg">
                            blue
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-brown" value="0,0,1,0,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-brown">
                            <img src="../static/images/brown.svg">
                            brown
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-buff" value="0,0,0,1,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-buff">
                            <img src="../static/images/buff.svg">
                            buff
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-gray" value="0,0,0,0,1,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-gray">
                            <img src="../static/images/gray.svg">
                            gray
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-green" value="0,0,0,0,0,1,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-green">
                            <img src="../static/images/green.svg">
                            green
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-orange" value="0,0,0,0,0,0,1,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-orange">
                            <img src="../static/images/orange.svg">
                            orange
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-pink" value="0,0,0,0,0,0,0,1,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-pink">
                            <img src="../static/images/pink.svg">
                            pink
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-purple" value="0,0,0,0,0,0,0,0,1,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-purple">
                            <img src="../static/images/purple.svg">
                            purple
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-red" value="0,0,0,0,0,0,0,0,0,1,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-red">
                            <img src="../static/images/red.svg">
                            red
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-white" value="0,0,0,0,0,0,0,0,0,0,1,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-white">
                            <img src="../static/images/white.svg">
                            white
                          </label>
                          <input class="btn-check" type="radio" name="cap_colors" id="cap_color-yellow" value="0,0,0,0,0,0,0,0,0,0,0,1" required>
                          <label class="btn btn-outline-success custom-button-colors" for="cap_color-yellow">
                            <img src="../static/images/yellow.svg">
                            yellow
                          </label>
                        </div>
                    </fieldset>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Shape</legend>
                      <div class="btn-group flex-wrap">
                        <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-bell" value="1,0,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_shape-bell">
                          <img src="../static/images/bell.svg">
                          bell
                        </label>
                        <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-conical" value="0,1,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_shape-conical">
                          <img src="../static/images/conical.svg">
                          conical
                        </label>
                        <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-convex" value="0,0,1,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_shape-convex">
                          <img src="../static/images/convex.svg">
                          convex
                        </label>
                        <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-flat" value="0,0,0,1,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_shape-flat">
                          <img src="../static/images/flat.svg">
                          flat
                        </label>
                        <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-spherical" value="0,0,0,0,0,1,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_shape-spherical">
                          <img src="../static/images/spherical.svg">
                          spherical
                        </label>
                        <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-sunken" value="0,0,0,0,0,0,1" required>
                        <label class="btn btn-outline-success custom-button" for="cap_shape-sunken">
                          <img src="../static/images/sunken.svg">
                          sunken
                        </label>
                        <input class="btn-check" type="radio" name="cap_shapes" id="cap_shape-others" value="0,0,0,0,1,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_shape-others">
                          other
                        </label>
                      </div>
                    </fieldset>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Surface</legend>
                      <div class="btn-group flex-wrap">
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-dry" value="1,0,0,0,0,0,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-dry">
                          dry
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-fibrous" value="0,1,0,0,0,0,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-fibrous">
                          <img src="../static/images/fibrous.svg">
                          fibrous
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-fleshy" value="0,0,1,0,0,0,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-fleshy">
                          <img src="../static/images/fleshy.svg">
                          fleshy
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-grooves" value="0,0,0,1,0,0,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-grooves">
                          grooves
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-leathery" value="0,0,0,0,1,0,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-leathery">
                          leathery
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-scaly" value="0,0,0,0,0,1,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-scaly">
                          <img src="../static/images/scales.svg">
                          scaly
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-shiny" value="0,0,0,0,0,0,1,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-shiny">
                          shiny
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-silky" value="0,0,0,0,0,0,0,1,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-silky">
                          silky
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-smooth" value="0,0,0,0,0,0,0,0,1,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-smooth">
                          smooth
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-sticky" value="0,0,0,0,0,0,0,0,0,1,0" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-sticky">
                          sticky
                        </label>
                        <input class="btn-check" type="radio" name="cap_surfaces" id="cap_surface-wrinkled" value="0,0,0,0,0,0,0,0,0,0,1" required>
                        <label class="btn btn-outline-success custom-button" for="cap_surface-wrinkled">
                          wrinkled
                        </label>
                      </div>
                    </fieldset>

                  </div>
                  
                  <!-- gill section -->
                  <div class="tab"><center><h3>Gill</h3></center>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Gill Attachment</legend>
                      <div class="btn-group flex-wrap">
                        <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-adnate" value="1,0,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="gill_attachment-adnate">
                          <img src="../static/images/adnate.svg">
                          adnate
                        </label>
                        <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-adnexed" value="0,1,0,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="gill_attachment-adnexed">
                          <img src="../static/images/adnexed.svg">
                          adnexed
                        </label>
                        <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-decurrent" value="0,0,1,0,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="gill_attachment-decurrent">
                          <img src="../static/images/decurrent.svg">
                          decurrent
                        </label>
                        <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-free" value="0,0,0,1,0,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="gill_attachment-free">
                          <img src="../static/images/free.svg">
                          free
                        </label>
                        <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-pores" value="0,0,0,0,0,1,0" required>
                        <label class="btn btn-outline-success custom-button" for="gill_attachment-pores">
                          pores
                        </label>
                        <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-sinuate" value="0,0,0,0,0,0,1" required>
                        <label class="btn btn-outline-success custom-button" for="gill_attachment-sinuate">
                          <img src="../static/images/sinuate.svg">
                          sinuate
                        </label>
                        <input class="btn-check" type="radio" name="gill_attachments" id="gill_attachment-none" value="0,0,0,0,1,0,0" required>
                        <label class="btn btn-outline-success custom-button" for="gill_attachment-none">
                          none
                        </label>
                      </div>
                    </fieldset>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Gill Color</legend>
                      <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-black" value="1,0,0,0,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-black">
                            <img src="../static/images/black.svg">
                            black
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-brown" value="0,1,0,0,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-brown">
                            <img src="../static/images/brown.svg">
                            brown
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-buff" value="0,0,1,0,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-buff">
                            <img src="../static/images/buff.svg">
                            buff
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-gray" value="0,0,0,1,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-gray">
                            <img src="../static/images/gray.svg">
                            gray
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-green" value="0,0,0,0,1,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-green">
                            <img src="../static/images/green.svg">
                            green
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-orange" value="0,0,0,0,0,0,1,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-orange">
                            <img src="../static/images/orange.svg">
                            orange
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-pink" value="0,0,0,0,0,0,0,1,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-pink">
                            <img src="../static/images/pink.svg">
                            pink
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-purple" value="0,0,0,0,0,0,0,0,1,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-purple">
                            <img src="../static/images/purple.svg">
                            purple
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-red" value="0,0,0,0,0,0,0,0,0,1,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-red">
                            <img src="../static/images/red.svg">
                            red
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-white" value="0,0,0,0,0,0,0,0,0,0,1,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-white">
                            <img src="../static/images/white.svg">
                            white
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-yellow" value="0,0,0,0,0,0,0,0,0,0,0,1" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-yellow">
                            <img src="../static/images/yellow.svg">
                            yellow
                          </label>
                          <input class="btn-check" type="radio" name="gill_colors" id="gill_color-none" value="0,0,0,0,0,1,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="gill_color-none">
                            none
                          </label>
                      </div>
                    </fieldset>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Gill Spacing</legend>
                        <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="gill_spacings" id="gill_spacing-close" value="1,0,0" required>
                          <label class="btn btn-outline-success custom-button" for="gill_spacing-close">
                            <img src="../static/images/close.svg">
                            close
                          </label>
                          <input class="btn-check" type="radio" name="gill_spacings" id="gill_spacing-distant" value="0,1,0" required>
                          <label class="btn btn-outline-success custom-button" for="gill_spacing-distant">
                            <img src="../static/images/distant.svg">
                            distant
                          </label>
                          <input class="btn-check" type="radio" name="gill_spacings" id="gill_spacing-none" value="0,0,1" required>
                          <label class="btn btn-outline-success" for="gill_spacing-none">
                            none
                          </label>
                        </div>
                    </fieldset>
                  </div>

                  <!-- stem section -->
                  <div class="tab"><center><h3>Stem</h3></center>
                    <label for="colFormLabelLg" class="col-sm col-form-label-lg col-form-label">  Stem Height (cm) </label>
                    <p><input type="text" class="col-lg-5" name="stem_height" id="stem_height" placeholder="Enter a decimal between 0 and 36" required="required"></p>

                    <label for="colFormLabelLg" class="col-sm col-form-label-lg col-form-label"> Stem Width (mm) </label>
                    <p><input type="text" class="col-lg-5" name="stem_width" id="stem_width" id="stem_width" placeholder="Enter a decimal between 0 and 100" required="required"></p>
                    <fieldset class="row">
                      <legend class="col-sm col-form-label col-form-label-lg">Stem Color</legend>
                        <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-black" value="1,0,0,0,0,0,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-black">
                            <img src="../static/images/black.svg">
                            black
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-blue" value="0,1,0,0,0,0,0,0,0,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-blue">
                            <img src="../static/images/blue.svg">
                            blue
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-brown" value="0,0,1,0,0,0,0,0,0,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-brown">
                            <img src="../static/images/brown.svg">
                            brown
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-buff" value="0,0,0,1,0,0,0,0,0,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-buff">
                            <img src="../static/images/buff.svg">
                            buff
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-gray" value="0,0,0,0,1,0,0,0,0,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-gray">
                            <img src="../static/images/gray.svg">
                            gray
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-green" value="0,0,0,0,0,1,0,0,0,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-green">
                            <img src="../static/images/green.svg">
                            green
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-orange" value="0,0,0,0,0,0,0,1,0,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-orange">
                            <img src="../static/images/orange.svg">
                            orange
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-pink" value="0,0,0,0,0,0,0,0,1,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-pink">
                            <img src="../static/images/pink.svg">
                            pink
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-purple" value="0,0,0,0,0,0,0,0,0,1,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-purple">
                            <img src="../static/images/purple.svg">
                            purple
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-red" value="0,0,0,0,0,0,0,0,0,0,1,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-red">
                            <img src="../static/images/red.svg">
                            red
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-white" value="0,0,0,0,0,0,0,0,0,0,0,1,0" required="required">
                          <label class="btn btn-outline-success" for="stem_color-white">
                            <img src="../static/images/white.svg">
                            white
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-yellow" value="0,0,0,0,0,0,0,0,0,0,0,0,1">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-yellow">
                            <img src="../static/images/yellow.svg">
                            yellow
                          </label>
                          <input class="btn-check" type="radio" name="stem_colors" id="stem_color-none" value="0,0,0,0,0,0,1,0,0,0,0,0,0">
                          <label class="btn btn-outline-success custom-button-colors" for="stem_color-none">
                            none
                          </label>
                        </div>
                    </fieldset>
                  </div>

                  <!-- ring section -->
                  <div class="tab"><center><h3>Ring</h3></center>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Does It Have a Ring?</legend>
                        <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="has_ring" id="has_ring-yes" value="0,1" required>
                          <label class="btn btn-outline-success" for="has_ring-yes">
                            yes
                          </label>
                          <input class="btn-check" type="radio" name="has_ring" id="has_ring-no" value="1,0" required>
                          <label class="btn btn-outline-success" for="has_ring-no">
                            no
                          </label>
                        </div>
                    </fieldset>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Ring Type</legend>
                        <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-evanescent" value="1,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success" for="ring_type-evanescent">
                            evanescent
                          </label>
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-flaring" value="0,1,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button" for="ring_type-flaring">
                            <img src="../static/images/flaring.svg">
                            flaring
                          </label>
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-grooved" value="0,0,1,0,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button" for="ring_type-grooved">
                            grooved
                          </label>
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-large" value="0,0,0,1,0,0,0,0" required>
                          <label class="btn btn-outline-success custom-button" for="ring_type-large">
                            large
                          </label>
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-movable" value="0,0,0,0,1,0,0,0" required>
                          <label class="btn btn-outline-success custom-button" for="ring_type-movable">
                            movable
                          </label>
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-pendant" value="0,0,0,0,0,0,1,0" required>
                          <label class="btn btn-outline-success custom-button" for="ring_type-pendant">
                            pendant
                          </label>
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-zone" value="0,0,0,0,0,0,0,1" required>
                          <label class="btn btn-outline-success custom-button" for="ring_type-zone">
                            <img src="../static/images/zone.svg">
                            zone
                          </label>
                          <input class="btn-check" type="radio" name="ring_types" id="ring_type-none" value="0,0,0,0,0,1,0,0" required>
                          <label class="btn btn-outline-success custom-button" for="ring_type-none">
                            none
                          </label>
                        </div>
                    </fieldset>
                  </div>

                  <!-- other section -->
                  <div class="tab"><center><h3>Other</h3></center>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Does It Bruise or Bleed?</legend>
                      <div class="btn-group flex-wrap">
                        <input class="btn-check" type="radio" name="bruise_bleed" id="bruise_bleed-yes" value="0,1" required>
                        <label class="btn btn-outline-success" for="bruise_bleed-yes">
                          yes
                        </label>
                        <input class="btn-check" type="radio" name="bruise_bleed" id="bruise_bleed-no" value="1,0" required>
                        <label class="btn btn-outline-success" for="bruise_bleed-no">
                          no
                        </label>
                      </div>
                    </fieldset>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Habitat</legend>
                        <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="habitats" id="habitat-grasses" value="1,0,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success" for="habitat-grasses">
                            grasses
                          </label>
                          <input class="btn-check" type="radio" name="habitats" id="habitat-heaths" value="0,1,0,0,0,0,0,0" required>
                          <label class="btn btn-outline-success" for="habitat-heaths">
                            heaths
                          </label>
                          <input class="btn-check" type="radio" name="habitats" id="habitat-leaves" value="0,0,1,0,0,0,0,0" required>
                          <label class="btn btn-outline-success" for="habitat-leaves">
                            leaves
                          </label>
                          <input class="btn-check" type="radio" name="habitats" id="habitat-meadows" value="0,0,0,1,0,0,0,0" required>
                          <label class="btn btn-outline-success" for="habitat-meadows">
                            meadows
                          </label>
                          <input class="btn-check" type="radio" name="habitats" id="habitat-paths" value="0,0,0,0,1,0,0,0" required>
                          <label class="btn btn-outline-success" for="habitat-paths">
                            paths
                          </label>
                          <input class="btn-check" type="radio" name="habitats" id="habitat-urban" value="0,0,0,0,0,1,0,0" required>
                          <label class="btn btn-outline-success" for="habitat-urban">
                            urban
                          </label>
                          <input class="btn-check" type="radio" name="habitats" id="habitat-waste" value="0,0,0,0,0,0,1,0" required>
                          <label class="btn btn-outline-success" for="habitat-waste">
                            waste
                          </label>
                          <input class="btn-check" type="radio" name="habitats" id="habitat-woods" value="0,0,0,0,0,0,0,1" required>
                          <label class="btn btn-outline-success" for="habitat-woods">
                            woods
                          </label>
                      </div>
                    </fieldset>
                    <fieldset class="col-sm">
                      <legend class="col-sm col-form-label col-form-label-lg">Season</legend>
                        <div class="btn-group flex-wrap">
                          <input class="btn-check" type="radio" name="seasons" id="season-autumn" value="1,0,0,0" required>
                          <label class="btn btn-outline-success" for="season-autumn">
                            autumn
                          </label>
                          <input class="btn-check" type="radio" name="seasons" id="season-spring" value="0,1,0,0" required>
                          <label class="btn btn-outline-success" for="season-spring">
                            spring
                          </label>
                          <input class="btn-check" type="radio" name="seasons" id="season-summer" value="0,0,1,0" required>
                          <label class="btn btn-outline-success" for="season-summer">
                            summer
                          </label>
                          <input class="btn-check" type="radio" name="seasons" id="season-winter" value="0,0,0,1" required>
                          <label class="btn btn-outline-success" for="season-winter">
                            winter
                          </label>
                        </div>
                    </fieldset>
                  </div>
                </div>

                <div style="overflow:auto;">
                  <div style="float:left;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                  </div>
                </div>

                <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                </div>
              </form>

              <div style="display: none; align-items: center;" id="result-window">
                <div class="row">
                  <h2 style="text-align: center; margin-top: 15px;"> Your mushroom is: </h2>
                  <br>
                  <h1 id="mushroom-class"></h1>
                  <br>
                  <h2 style="text-align: center; margin-top: 15px;"> And comes from </h2>
                  <h1 id="mushroom-continent"></h1>
                  <br>
                </div>
                <div class="row">
                  <center><img id="result-image" style="margin-top: 50px;" height="250"></center>
                </div>
                <br>
                <div class="row">
                  <center><button type="button" id="redo-button" onClick="window.location.reload();">TRY OUT ANOTHER MUSHROOM</button></center>
                </div>
              </div>
            </div>

            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Add d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Add plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JS -->
    <!-- d3 Bar Graph -->
    <script type="text/javascript" src="../static/JS/d3_bar.js"></script>

    <!-- prediction form -->
    <script type="text/javascript" src="../static/JS/form.js"></script>
</body>

<!-- credit -->
<footer style="margin-top: 75px;">
  <center>
  <a href='https://www.freepik.com/vectors/background'>Background and favicon vector created by pikisuperstar - www.freepik.com</a>
  </center>
</footer>
</html>