<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      background-image: url('../static/images/wallpaper2.png');
    }
  </style>
  <link rel='icon' href='../static/images/favicon.ico' type='image/x-icon'/ >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A Shortcut to Mushrooms</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Custom CSS  -->
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
  <div class="container-fluid" style="background-color: #7D6B7D">
    <header>
      <div class="col-md-3">
        <img src="../static/images/mushroom2.png" style="margin-top: 20px; margin-bottom: 20px; vertical-align: middle;" align="right">
      </div>
      <div class="col-md-6">
        <center><h1><strong>A Shortcut to Mushrooms</strong></h1></center>
        <center><h3><i>All fungi are edible. Some fungi are only edible once.</br>-Terry Pratchett</i></h3></center>
      </div>
      <div class="col-md-3">
        <img src="../static/images/mushroom1.png" style="margin-top: 20px; margin-bottom: 20px; vertical-align: middle;" align="left">
      </div>
    </header>
  </div>

  <div class="container">
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <center>
            <button class="btn btn-link my-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              INTRODUCTION
            </button>
            </center>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
          <div class="card-body">
              Here is where we will explain what this website is and does. A few ideas for what can go here:
              <ul>
                <li>Relevant links</li>
                <li>Lay out issues we came across</li>
                <li>methods used to transform data</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <center>
            <button class="btn btn-link collapsed my-button" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              EXPLORE THE DATA
            </button>
            </center>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
          <div style="display: table-cell;">
            <div class="btn-group-vertical button-group" role="group" aria-label="Basic radio toggle button group">
              <button type="radio" onclick="updateBar(dataClass)" class="btn btn-warning" name="btnradio" id="class" checked>Class</button>
              <button type="radio" onclick="updateBar(dataCapColor)" class="btn btn-warning" name="btnradio" id="cap_color">Cap Color</button>
              <button type="radio" onclick="updateBar(dataCapShape)" class="btn btn-warning" name="btnradio" id="cap_shape">Cap Shape</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="bruise_bleed">Does it Bruise or Bleed?</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="gill_attachment">Gill Attachment</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="gill_color">Gill Color</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="gill_spacing">Gill Spacing</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="habitat">Habitat</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="has_ring">Ring?</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="ring_type">Ring Type</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="season">Season</button>
              <button type="radio" class="btn btn-warning" name="btnradio" id="stem_color">Stem Color</button>
            </div>

            <div style="display: inline-block;" id="explore-bar"></div>
          </div>
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <center>
            <button class="btn btn-link collapsed my-button" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              MACHINE LEARNING
            </button>
            </center>
          </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Add bootstrap scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Add d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Add plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- JS -->
    <!-- d3 Bar Graph -->
    <script type="text/javascript" src="../static/JS/d3_bar.js"></script>
</body>

<!-- credit -->
<footer style="margin-top: 75px;">
  <center>
  <a href='https://www.freepik.com/vectors/background'>Background and favicon vector created by pikisuperstar - www.freepik.com</a>
  </center>
</footer>
</html>